<div class="frow">
  <div class="layer">
    <div class="row h-100">
      <div class="col-md-4 d-flex align-items-center ">
        <div class="contain">
          <p>When you’re here,
            you’re home.
          </p>
          <h5>(And so is all your entertainment.)</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row my-3 align-items-center">
  <div class="col-md-4">
    <div class="content">
      <h2>We’re fans at heart.</h2>
      <p class="text-muted ">Of movies, shows, music, and well, all things entertainment.
         So much so that we built an app that brings it all together—streaming services,
          personal media, ratings and watch lists. As beautiful as it is easy-to-use,
         el-Movies gives fans everywhere a way to discover, save, and enjoy the entertainment they love the most.</p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="img">
      <img src="assets/2.png" alt="" class="w-100">
    </div>
  </div>
</div>

<hr>

<div class="row align-items-center">
  <div class="col-md-4">
    <h1>Noxe</h1>
    <p class="text-muted">We’re on a mission to create a global
       community where everyone can discover,
       experience, and share all of the entertainment that matters to them.</p>
  </div>
  <div class="col-md-8 text-center" >
    <p class="fs-4">
      <a href="https://www.facebook.com/eman.osama.794"><i class="fa-brands fa-facebook"></i></a>
      <a href="" class="mx-4"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href=""><i class="fa-brands fa-github"></i></a>
    </p>
    <p>Copyright Â© 2022 Eman Menisy. All Rights Reserved.</p>

  </div>
</div>
