
.navbar{
  background-color: #0a1d25;
}
.social-icons:hover , .nav-item:hover{
  cursor: pointer;
}
.navbar-brand{
  font-weight: bold;
  font-size: 20px;
}

.social-icons i{
  margin: 0 12px;
  font-size: 18px;
}
