<div class="registration-form my-5 w-75 m-auto">
  <h1 >Form Registration</h1>
<form [formGroup]="registerForm" (ngSubmit)="submit()">
<div class="group-input">
  <label>First Name:</label>
  <input type="text" class="form-control my-1" formControlName="first_name">
  <div  *ngIf="registerForm.controls['first_name'].invalid && registerForm.controls['first_name'].touched" class="text-danger" >

   <p  *ngIf="registerForm.controls['first_name'].errors?.['minlength']"> first name min length 3 char</p>
   <p  *ngIf="registerForm.controls['first_name'].errors?.['required']"> first name is required </p>
   <p  *ngIf="registerForm.controls['first_name'].errors?.['maxlength']"> first name max length 10 char</p>

  </div>
</div>
<div class="group-input">
  <label class="mt-2">last Name:</label>
  <input type="text" class="form-control my-1" formControlName="last_name">
  <div  *ngIf="registerForm.controls['last_name'].invalid && registerForm.controls['last_name'].touched" class="text-danger" >

    <p  *ngIf="registerForm.controls['last_name'].errors?.['minlength']"> last name min length 3 char</p>
    <p  *ngIf="registerForm.controls['last_name'].errors?.['required']"> last name is required </p>
    <p  *ngIf="registerForm.controls['last_name'].errors?.['maxlength']"> last name max length 10 char</p>

   </div>
</div>
<div class="group-input">
  <label class="mt-2">Email Address:</label>
  <input type="email" class="form-control my-1" formControlName="email">
  <div  *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="text-danger" >

    <p  *ngIf="registerForm.controls['email'].errors?.['email']"> not a valid email </p>
    <p  *ngIf="registerForm.controls['email'].errors?.['required']"> email is required </p>

   </div>
  </div>
<div class="group-input">
  <label class="mt-2">Password:</label>
  <input type="password" class="form-control my-1" formControlName="password">
  <div  *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" class="text-danger" >

    <p  *ngIf="registerForm.controls['password'].errors?.['pattern']"> not a valid password </p>
    <p  *ngIf="registerForm.controls['password'].errors?.['required']"> password is required </p>

  </div>

 </div>
<div class="group-input">
  <label class="mt-2">age</label>
  <input type="number" class="form-control my-1" formControlName="age">
  <div  *ngIf="registerForm.controls['age'].invalid && registerForm.controls['age'].touched" class="text-danger" >

    <p  *ngIf="registerForm.controls['age'].errors?.['min']"> min age is 20</p>
    <p  *ngIf="registerForm.controls['age'].errors?.['required']"> age is required </p>
    <p  *ngIf="registerForm.controls['age'].errors?.['max']">  max age is 50 </p>

   </div>
</div>
<button  [disabled]="registerForm.invalid" class="btn btn-info text-light mt-2"   type="Submit"> Submit </button>
</form>

</div>
